In [1]:
%load_ext autoreload
%autoreload 3

In [2]:
from datetime import datetime, timedelta

import pendulum

In [3]:
import sys
sys.path.insert(0, '..')

In [18]:
from tourney.elimination.scheduler import get_seeded_schedule
from tourney.match import Match, MatchSeries
from tourney.match_utils import get_teams
from tourney.referees import get_ref_schedule, get_scoreboard_schedule
from tourney.round_robin.scheduler import get_priority_schedule
from tourney.time_utils import as_datetime, get_available_times
from tourney.tournament import Game, Tournament

[autoreload of tourney.tournament failed: Traceback (most recent call last):
  File "/home/eschombu/Dropbox/python/tourney-scheduler/venv/py3.11/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 259, in check
    superreload(m, reload, self.old_objects, self.shell)
  File "/home/eschombu/Dropbox/python/tourney-scheduler/venv/py3.11/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 459, in superreload
    module = reload(module)
             ^^^^^^^^^^^^^^
  File "/usr/lib/python3.11/importlib/__init__.py", line 169, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 621, in _exec
  File "<frozen importlib._bootstrap_external>", line 936, in exec_module
  File "<frozen importlib._bootstrap_external>", line 1074, in get_code
  File "<frozen importlib._bootstrap_external>", line 1004, in source_to_code
  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed
  File "/home/eschombu/Dropbox/python/tourney-scheduler/notebooks/../tourney/tournament.py", line 121
    def to_dataframe(self) -> pd.DataFrame:
    ^^^
IndentationError: expected an indented block after function definition on line 112
]

In [9]:
start_1 = "2023-01-28 15:40"
end_1 = "2023-01-28 19:30"
start_2 = "2023-01-29 09:20"
end_2 = "2023-01-29 13:30"
available_times = get_available_times([(start_1, end_1), (start_2, end_2)], minutes_per_game=25)
print(len(available_times))
available_times

19

[DateTime(2023, 1, 28, 15, 40, 0, tzinfo=Timezone('UTC')),
 DateTime(2023, 1, 28, 16, 5, 0, tzinfo=Timezone('UTC')),
 DateTime(2023, 1, 28, 16, 30, 0, tzinfo=Timezone('UTC')),
 DateTime(2023, 1, 28, 16, 55, 0, tzinfo=Timezone('UTC')),
 DateTime(2023, 1, 28, 17, 20, 0, tzinfo=Timezone('UTC')),
 DateTime(2023, 1, 28, 17, 45, 0, tzinfo=Timezone('UTC')),
 DateTime(2023, 1, 28, 18, 10, 0, tzinfo=Timezone('UTC')),
 DateTime(2023, 1, 28, 18, 35, 0, tzinfo=Timezone('UTC')),
 DateTime(2023, 1, 28, 19, 0, 0, tzinfo=Timezone('UTC')),
 DateTime(2023, 1, 29, 9, 20, 0, tzinfo=Timezone('UTC')),
 DateTime(2023, 1, 29, 9, 45, 0, tzinfo=Timezone('UTC')),
 DateTime(2023, 1, 29, 10, 10, 0, tzinfo=Timezone('UTC')),
 DateTime(2023, 1, 29, 10, 35, 0, tzinfo=Timezone('UTC')),
 DateTime(2023, 1, 29, 11, 0, 0, tzinfo=Timezone('UTC')),
 DateTime(2023, 1, 29, 11, 25, 0, tzinfo=Timezone('UTC')),
 DateTime(2023, 1, 29, 11, 50, 0, tzinfo=Timezone('UTC')),
 DateTime(2023, 1, 29, 12, 15, 0, tzinfo=Timezone('UTC')),
 DateTime(2023, 1, 29, 12, 40, 0, tzinfo=Timezone('UTC')),
 DateTime(2023, 1, 29, 13, 5, 0, tzinfo=Timezone('UTC'))]

In [6]:
teams = get_teams(6)
teams

['Team 1', 'Team 2', 'Team 3', 'Team 4', 'Team 5', 'Team 6']

In [14]:
rr_tourney = Tournament.schedule_round_robin(6, available_times)

In [15]:
rr_tourney.to_dataframe()

,game,time,match,referee,scoreboard
0,1,2023-01-28 15:40:00+00:00,Team 4 vs. Team 5 (id: 1),Team 3,Team 2
1,2,2023-01-28 16:05:00+00:00,Team 3 vs. Team 6 (id: 2),Team 1,Team 4
2,3,2023-01-28 16:30:00+00:00,Team 1 vs. Team 2 (id: 3),Team 6,Team 3
3,4,2023-01-28 16:55:00+00:00,Team 3 vs. Team 5 (id: 4),Team 2,Team 6
4,5,2023-01-28 17:20:00+00:00,Team 4 vs. Team 6 (id: 5),Team 5,Team 2
5,6,2023-01-28 17:45:00+00:00,Team 1 vs. Team 5 (id: 6),Team 4,Team 6
6,7,2023-01-28 18:10:00+00:00,Team 2 vs. Team 3 (id: 7),Team 1,Team 5
7,8,2023-01-28 18:35:00+00:00,Team 1 vs. Team 4 (id: 8),Team 3,Team 2
8,9,2023-01-28 19:00:00+00:00,Team 5 vs. Team 6 (id: 9),Team 2,Team 1
9,10,2023-01-29 09:20:00+00:00,Team 1 vs. Team 3 (id: 10),Team 6,Team 4
10,11,2023-01-29 09:45:00+00:00,Team 2 vs. Team 4 (id: 11),Team 5,Team 3
11,12,2023-01-29 10:10:00+00:00,Team 1 vs. Team 6 (id: 12),Team 4,Team 5
12,13,2023-01-29 10:35:00+00:00,Team 2 vs. Team 5 (id: 13),Team 3,Team 6
13,14,2023-01-29 11:00:00+00:00,Team 3 vs. Team 4 (id: 14),Team 1,Team 2
14,15,2023-01-29 11:25:00+00:00,Team 2 vs. Team 6 (id: 15),Team 5,Team 1

In [17]:
rr_tourney.summary()

        games  referees  scoreboards
Team 1      5         3            3
Team 2      5         2            2
Team 3      5         3            3
Team 4      5         2            2
Team 5      5         3            3
Team 6      5         2            2

In [31]:
elim_tourney = Tournament.schedule_elimination(teams, available_times)
elim_tourney

Tournament(5 games, 10 teams: ['Game 1 winner', 'Game 2 winner', 'Game 3 winner', 'Game 4 winner', 'Team 1', 'Team 2', 'Team 3', 'Team 4', 'Team 5', 'Team 6'], dates: ['2023-01-28'])

In [13]:
get_seeded_schedule(teams)

Team 4 vs. Team 6 (id: 1)
Team 3 vs. Team 5 (id: 2)
Team 2 vs. Game 1 winner (id: 3)
Team 1 vs. Game 2 winner (id: 4)
Game 3 winner vs. Game 4 winner (id: 5)

In [37]:
tournament = Tournament.schedule_round_robin_with_playoffs(teams, available_times)

In [38]:
tournament.to_dataframe()

,game,time,match,referee,scoreboard
0,1,2023-01-28 15:40:00+00:00,Team 3 vs. Team 6 (id: 1),Team 4,Team 1
1,2,2023-01-28 16:05:00+00:00,Team 2 vs. Team 4 (id: 2),Team 6,Team 3
2,3,2023-01-28 16:30:00+00:00,Team 1 vs. Team 5 (id: 3),Team 3,Team 6
3,4,2023-01-28 16:55:00+00:00,Team 4 vs. Team 6 (id: 4),Team 2,Team 5
4,5,2023-01-28 17:20:00+00:00,Team 2 vs. Team 3 (id: 5),Team 1,Team 5
5,6,2023-01-28 17:45:00+00:00,Team 1 vs. Team 6 (id: 6),Team 5,Team 3
6,7,2023-01-28 18:10:00+00:00,Team 4 vs. Team 5 (id: 7),Team 6,Team 1
7,8,2023-01-28 18:35:00+00:00,Team 1 vs. Team 3 (id: 8),Team 4,Team 2
8,9,2023-01-28 19:00:00+00:00,Team 2 vs. Team 6 (id: 9),Team 3,Team 4
9,10,2023-01-29 09:20:00+00:00,Team 3 vs. Team 5 (id: 10),Team 2,Team 1
10,11,2023-01-29 09:45:00+00:00,Team 1 vs. Team 4 (id: 11),Team 5,Team 3
11,12,2023-01-29 10:10:00+00:00,Team 5 vs. Team 6 (id: 12),Team 1,Team 2
12,13,2023-01-29 10:35:00+00:00,Team 1 vs. Team 2 (id: 13),Team 6,Team 5
13,14,2023-01-29 11:00:00+00:00,Team 3 vs. Team 4 (id: 14),Team 2,Team 6
14,15,2023-01-29 11:25:00+00:00,Team 2 vs. Team 5 (id: 15),Team 4,Team 1
15,16,2023-01-29 11:50:00+00:00,Ranked 1 vs. Ranked 4 (id: 16),Ranked 3,Ranked 2
16,17,2023-01-29 12:15:00+00:00,Ranked 2 vs. Ranked 3 (id: 17),Ranked 4,Ranked 1
17,18,2023-01-29 12:40:00+00:00,Game 16 winner vs. Game 17 winner (id: 18),Ranked 1,Ranked 2